<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<title>Post It</title>
	<meta charset="UTF-8">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/sakura.css' %}">
	<!--===============================================================================================-->
	
	<script>
	
	</script>
<body>
	<h1>
	Post-it Here
	<a href="logout"><button>Sign out</button></a>
	</h1>
	<form method="POST" action="post" >
		{% csrf_token %}
		<input type="text" name="content">
		<input type="submit" value="Post It">
	</form>
	{% if post_list %}
		{% for post in post_list %}
			<blockquote>{{post.content}}<br>
				<a href="delete/{{post.id}}">
					<button>Delete</button>
				</a>
			</blockquote>
		{% endfor %}
	{% else %}
		<blockquote>표시할 포스트잇이 없습니다</blockquote>
	{% endif %}
</body>
</html>